In [15]:
import pandas as pd
import numpy as np
from selenium import webdriver as wd
import urllib

In [45]:
driver = wd.Chrome('chromedriver.exe')

In [17]:
url_base = 'https://www.tripadvisor.co.kr/Search?geo=1&searchNearby=&pid=3826&redirect=&startTime=1548818336538&uiOrigin=MASTHEAD&q='
country = '일본'
keyword = urllib.parse.quote('%s' %country)
url_sub='&sid=8058B739B8F09F099E61B762107533C11548818581315&ssrc=g&rf=1'

url=url_base+keyword+url_sub
url

'https://www.tripadvisor.co.kr/Search?geo=1&searchNearby=&pid=3826&redirect=&startTime=1548818336538&uiOrigin=MASTHEAD&q=%EC%9D%BC%EB%B3%B8&sid=8058B739B8F09F099E61B762107533C11548818581315&ssrc=g&rf=1'

In [46]:
driver.get(url )

In [43]:
tcity = []
tcount = []
thref = []

In [47]:
for one in driver.find_elements_by_class_name('result-title>span'):
    tcity.append(one.text)
    thref_base = 'https://www.tripadvisor.co.kr/Search?q='
    thref.append(href_base + urllib.parse.quote('%s' %one.text))
tcity[1:5], thref[1:5]

(['삿포로', '도쿄', '교토', '오사카'],
 ['https://www.tripadvisor.co.kr/Search?q=%EC%82%BF%ED%8F%AC%EB%A1%9C',
  'https://www.tripadvisor.co.kr/Search?q=%EB%8F%84%EC%BF%84',
  'https://www.tripadvisor.co.kr/Search?q=%EA%B5%90%ED%86%A0',
  'https://www.tripadvisor.co.kr/Search?q=%EC%98%A4%EC%82%AC%EC%B9%B4'])

In [48]:
for one in driver.find_elements_by_class_name('review-count'):
    tcount.append(one.text)
tcount[1:5]

['145,682개의 리뷰 또는 의견',
 '1,323,181개의 리뷰 또는 의견',
 '411,911개의 리뷰 또는 의견',
 '342,651개의 리뷰 또는 의견']

In [51]:
trip = pd.DataFrame({ 'tcity':tcity[1:5], 'tcount':tcount[1:5], 'thref':thref[1:5] })
trip

,tcity,tcount,thref
0,삿포로,"145,682개의 리뷰 또는 의견",https://www.tripadvisor.co.kr/Search?q=%EC%82%...
1,도쿄,"1,323,181개의 리뷰 또는 의견",https://www.tripadvisor.co.kr/Search?q=%EB%8F%...
2,교토,"411,911개의 리뷰 또는 의견",https://www.tripadvisor.co.kr/Search?q=%EA%B5%...
3,오사카,"342,651개의 리뷰 또는 의견",https://www.tripadvisor.co.kr/Search?q=%EC%98%...

In [60]:
for idx in range(len(trip)):
#     print(col)
    print(trip.iloc[idx]['tcity'])
    print(trip.iloc[idx]['tcount'])
    print(trip.iloc[idx]['thref'])

삿포로
145,682개의 리뷰 또는 의견
https://www.tripadvisor.co.kr/Search?q=%EC%82%BF%ED%8F%AC%EB%A1%9C
도쿄
1,323,181개의 리뷰 또는 의견
https://www.tripadvisor.co.kr/Search?q=%EB%8F%84%EC%BF%84
교토
411,911개의 리뷰 또는 의견
https://www.tripadvisor.co.kr/Search?q=%EA%B5%90%ED%86%A0
오사카
342,651개의 리뷰 또는 의견
https://www.tripadvisor.co.kr/Search?q=%EC%98%A4%EC%82%AC%EC%B9%B4