In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import openpyxl

In [38]:
df = pd.read_excel('users/student/money.xlsx')

In [46]:
df1 = df['USA']
df2 = df['UR']
df3 = df['JP']
df4 = df['CH']
df5 = df['UK']
df1

2019-01-01    1132.21
2019-01-02    1138.71
2019-01-03    1146.78
2019-01-04    1144.79
2019-01-05    1144.79
2019-01-06    1144.79
2019-01-07    1137.64
2019-01-08    1141.72
2019-01-09    1141.38
2019-01-10    1138.82
2019-01-11    1137.38
2019-01-12    1137.38
2019-01-13    1137.38
2019-01-14    1141.08
2019-01-15    1139.88
2019-01-16    1141.66
2019-01-17    1141.02
2019-01-18    1141.02
2019-01-19    1141.02
2019-01-20    1141.02
2019-01-21    1145.75
2019-01-22    1149.93
2019-01-23    1148.12
2019-01-24    1147.62
2019-01-25    1144.82
2019-01-26    1144.82
2019-01-27    1144.82
Name: USA, dtype: float64

In [47]:
a = df1.iloc[-1]
b = df2.iloc[-1]
c = df3.iloc[-1]
d = df4.iloc[-1]
e = df5.iloc[-1]
a

1144.82

In [48]:
ma2 = df1.rolling(window=2).mean()
mb2 = df2.rolling(window=2).mean()
mc2 = df3.rolling(window=2).mean()
md2 = df4.rolling(window=2).mean()
me2 = df5.rolling(window=2).mean()
ma2

2019-01-01         NaN
2019-01-02    1135.460
2019-01-03    1142.745
2019-01-04    1145.785
2019-01-05    1144.790
2019-01-06    1144.790
2019-01-07    1141.215
2019-01-08    1139.680
2019-01-09    1141.550
2019-01-10    1140.100
2019-01-11    1138.100
2019-01-12    1137.380
2019-01-13    1137.380
2019-01-14    1139.230
2019-01-15    1140.480
2019-01-16    1140.770
2019-01-17    1141.340
2019-01-18    1141.020
2019-01-19    1141.020
2019-01-20    1141.020
2019-01-21    1143.385
2019-01-22    1147.840
2019-01-23    1149.025
2019-01-24    1147.870
2019-01-25    1146.220
2019-01-26    1144.820
2019-01-27    1144.820
Name: USA, dtype: float64

In [49]:
mac2 = ma2.iloc[-1]
mbc2 = mb2.iloc[-1]
mcc2 = mc2.iloc[-1]
mdc2 = md2.iloc[-1]
mec2 = me2.iloc[-1]
mac2

1144.8199999999997

In [50]:
ma10 = df1.rolling(window=10).mean()
mb10 = df2.rolling(window=10).mean()
mc10 = df3.rolling(window=10).mean()
md10 = df4.rolling(window=10).mean()
me10 = df5.rolling(window=10).mean()
ma10

2019-01-01         NaN
2019-01-02         NaN
2019-01-03         NaN
2019-01-04         NaN
2019-01-05         NaN
2019-01-06         NaN
2019-01-07         NaN
2019-01-08         NaN
2019-01-09         NaN
2019-01-10    1141.163
2019-01-11    1141.680
2019-01-12    1141.547
2019-01-13    1140.607
2019-01-14    1140.236
2019-01-15    1139.745
2019-01-16    1139.432
2019-01-17    1139.770
2019-01-18    1139.700
2019-01-19    1139.664
2019-01-20    1139.884
2019-01-21    1140.721
2019-01-22    1141.976
2019-01-23    1143.050
2019-01-24    1143.704
2019-01-25    1144.198
2019-01-26    1144.514
2019-01-27    1144.894
Name: USA, dtype: float64

In [52]:
mac10 = ma10.iloc[-1]
mbc10 = mb10.iloc[-1]
mcc10 = mc10.iloc[-1]
mdc10 = md10.iloc[-1]
mec10 = me10.iloc[-1]
mac10

numpy.float64

In [57]:
if (mac2+mac10)/2 >= a :
    print('%0.4f 만큼 오를것으로 예상되니까 환전지금하세용'%((mac2+mac10)/2-a))
else :
    print('%0.4f 만큼 떨어질것으로 예상되니까 나중에 하세용'%(a-(mac2+mac10)/2 ))

0.0370 만큼 오를것으로 예상되니까 환전지금하세용